# dependencies
node_modules/

# next.js
.next/
out/

# build files
dist/
build/

# logs
*.log
npm-debug.log*

# environment variables
.env
.env.local
.env.production

# uploads/temp
tmp/
uploads/

# vercel
.vercel/

# OS files
.DS_Store
Thumbs.db